.ProfileContainer {
    position: relative;
    height: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 2px 9px 0px;
}

.StyledAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}